HELP.md
#dear-comrade-ai-ui/build/
#dear-comrade-ai-ui/node_modules/
#dear-comrade-ai-ui/package-lock.json
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# dependencies
/dear-comrade-ai-ui/node_modules
/dear-comrade-ai-ui/.pnp
/dear-comrade-ai-ui/.pnp.js

# testing
/dear-comrade-ai-ui/coverage

# production
/dear-comrade-ai-ui/build
/dear-comrade-ai-ui/package-lock.json

# misc
/dear-comrade-ai-ui/.DS_Store
/dear-comrade-ai-ui/.env.local
/dear-comrade-ai-ui/.env.development.local
/dear-comrade-ai-ui/.env.test.local
/dear-comrade-ai-ui/.env.production.local

/dear-telangana-web/npm-debug.log*
/dear-telangana-web/yarn-debug.log*
/dear-telangana-web/yarn-error.log*
